/* table{
  padding: 30px;
} */
.table-container{
  background-color: red;
  margin: 20px;
  padding: 40px;
  
}
.input-container{
  background-color: green;
  padding: 30px;

}
.input-container h1{
  text-align: center;
  color: white;
}
.input-container input{
  width: 50%;
  padding: 12px;
}
.fuck{
  color: black;
}
.modal-content{
  color: black;
}